In [1]:
sc

In [2]:
file_location1 = "/FileStore/tables/aries_crash_data_2016.csv"
file_location2 = "/FileStore/tables/aries_crash_data_2017.csv"
file_location3 = "/FileStore/tables/aries_crash_data_2018.csv"
file_location4 = "/FileStore/tables/aries_crash_data_2015.csv"

file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "true"
delimiter = ","
quotechar = '"'

# The applied options are for CSV files. For other file types, these will be ignored.
df_2015 = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .option("quotechar", quotechar)\
  .load(file_location4)

# The applied options are for CSV files. For other file types, these will be ignored.
df_2016 = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .option("quotechar", quotechar)\
  .load(file_location1)
  
df_2017 = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .option("quotechar", quotechar)\
  .load(file_location2)

df_2018 = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .option("quotechar", quotechar)\
  .load(file_location3)


appended1 = df_2015.union(df_2016)
appended2 = appended1.union(df_2017)
complete_set = appended2.union(df_2018)
#complete_set.count()

df = complete_set
# display(df)
#df.printSchema()

In [3]:
## Reorganize Data
df1 = df.dropDuplicates(['INDIVIDUAL_MR_RECORD'])
df1.count()

In [4]:
from pyspark.sql import functions as sf
from pyspark.sql.functions import col, avg

In [5]:
from pyspark.sql.functions import unix_timestamp, from_unixtime
labeledData = df1.select(df1['LIGHTCONDDESCR'].alias('light'),df1['WEATHERDESCR'].alias('weather')
                        ,df1['SPEEDLIMITTXT'].alias('speed'),df1['DEADNMB'].alias('dead'),df1['COLLISION_DAY'].alias('weekday')
                       ,df1['COLLISION_TIME'].alias('time'),df1['COLLISION_TIME_AM_PM'].alias('ampm'),df1['LATDECIMALNMB'].alias('lat'),df1['LONGDECIMALNMB'].alias('long'))
## Concatenate time and am/pm
df2 = labeledData.withColumn('collidetime', 
                    sf.concat(sf.col('time'),sf.lit(' '), sf.col('ampm')))
labeledData = df2.drop('time','ampm')
## Convert into time value
df_time_twenfour = labeledData.withColumn('collidetime',
                                      from_unixtime(unix_timestamp(col(('collidetime')), "hh:mm aa"), "HH:mm"))
labeledData = df_time_twenfour

In [6]:
labeledData.createOrReplaceTempView("crash");
# CREATE 2 BUCKETS of DEATH
sqlStatement = """
    SELECT *,
    CASE
     WHEN dead>0 THEN 1 
     WHEN dead=0 THEN 0

    END as death
    FROM crash 
"""
labeled_with_newFeatures = sqlContext.sql(sqlStatement)

In [7]:
from pyspark.sql.types import IntegerType
labeledData = labeled_with_newFeatures.na.drop()

labeledData =labeledData.withColumn("speed", labeledData["speed"].cast(IntegerType()))
labeledData = labeledData.filter(labeledData.speed > 0)
labeledData = labeledData.drop('dead')
#labeledData.take(2)

In [8]:
labeledData.createOrReplaceTempView("crash1")
# CREATE 5 BUCKETS of speed limit
sqlStatement = """
    SELECT *,
    CASE
     WHEN speed < 30 THEN 30
     WHEN speed = 30 THEN 30
     WHEN speed > 30 AND speed < 40 THEN 40
     WHEN speed = 40 THEN 40
     WHEN speed > 40 AND speed < 50 THEN 50
     WHEN speed = 50 THEN 50
     WHEN speed >50 AND speed < 60 THEN 60
     WHEN speed = 60 THEN 60
     WHEN speed > 60 THEN 70
     
    END as speedlim
    FROM crash1 
"""

labeled_with_newFeatures_1 = sqlContext.sql(sqlStatement)

In [9]:
## Drop None values
labeled_with_newFeatures_1.createOrReplaceTempView('crash2')
sqlStatement = """
    SELECT distinct speedlim
    FROM crash2
"""
labeled_2 = sqlContext.sql(sqlStatement)
#labeled_2.collect()

In [10]:
labeledData = labeled_with_newFeatures_1
labeledData = labeledData.drop('speed')
## Drop Unknown values from 'light' variable
labeledData = labeledData.filter(labeledData.light != 'Unknown')

In [11]:
labeledData.take(2)

In [12]:
labeledData.createOrReplaceTempView("crash1")
# CREATE 12 BUCKETS of collision time
sqlStatement = """
    SELECT *,
    CASE
     WHEN collidetime < '02:00' OR collidetime = '02:00' THEN '12-2 AM'
     WHEN (collidetime < '04:00' AND collidetime > '02:00') OR collidetime = '04:00' THEN '2-4 AM'
     WHEN (collidetime < '06:00' AND collidetime > '04:00') OR collidetime = '04:00' THEN '4-6 AM'
     WHEN (collidetime < '08:00' AND collidetime > '06:00') OR collidetime = '04:00' THEN '6-8 AM'
     WHEN (collidetime < '10:00' AND collidetime > '08:00') OR collidetime = '04:00' THEN '8-10 AM'
     WHEN (collidetime < '12:00' AND collidetime > '10:00') OR collidetime = '04:00' THEN '10 AM - 12 PM'
     WHEN (collidetime < '14:00' AND collidetime > '12:00') OR collidetime = '04:00' THEN '12-2 PM'
     WHEN (collidetime < '16:00' AND collidetime > '14:00') OR collidetime = '04:00' THEN '2-4 PM'
     WHEN (collidetime < '18:00' AND collidetime > '16:00') OR collidetime = '04:00' THEN '4-6 PM'
     WHEN (collidetime < '20:00' AND collidetime > '18:00') OR collidetime = '04:00' THEN '6-8 PM'
     WHEN (collidetime < '22:00' AND collidetime > '20:00') OR collidetime = '04:00' THEN '8-10 PM'
     WHEN (collidetime < '24:00' AND collidetime > '22:00') OR collidetime = '04:00' THEN '10 PM - 12 AM'
    END as timecollide
    FROM crash1 
"""
labeled_with_newFeatures_2 = sqlContext.sql(sqlStatement)

In [13]:
labeled_with_newFeatures_2.createOrReplaceTempView('crash2')
sqlStatement = """
    SELECT distinct timecollide
    FROM crash2
"""
labeled_2 = sqlContext.sql(sqlStatement)
#labeled_2.collect()

In [14]:
labeledData = labeled_with_newFeatures_2
labeledData = labeledData.na.drop(subset=["timecollide"])
labeledData = labeledData.drop('collidetime')

In [15]:
from pyspark.sql.functions import *
labeledData = labeledData.withColumn('weekday', rtrim(labeledData.weekday))

In [16]:
labeledData.take(2)

In [17]:
## DONE with variable grouping

In [19]:
# Create a view or table

temp_table_name = "aries"

labeledData.createOrReplaceTempView(temp_table_name)

In [20]:
#mysubset = spark.sql("Select Distinct INDIVIDUAL_MR_RECORD,WEATHERCDE, LIGHTCONDCDE, TIMENOTIFIEDTXT, SPEEDLIMITTXT,LATDECIMALNMB, LONGDECIMALNMB,INJUREDNMB, DEADNMB,LATDECIMALNMB, LONGDECIMALNMB from  `aries` ")

In [21]:
## create blocks for labeledData dataframe

In [22]:
temp_table_name = "mysubsetTable"

labeledData.createOrReplaceTempView(temp_table_name)

In [23]:
def create_blocks():
    MinLt = 37.55
    MaxLt = 41.95
    MinLn = -88.24
    MaxLn = -84.64
    blocks = {}
    Lt1 = MinLt
    Ln1 = MinLn
    n=1
    
    for i in range(30):
        if i == 0:
            Lt1 = Lt1
        else:
            Lt1 = Lt1+0.15
        Ln1=MinLn
        for j in range(24):
            point = []
            #block_coord = []
            Lt2 = Lt1+0.15
            Ln2 = Ln1+0.15
            PCentrx = Lt1+0.1
            PCentry = Ln1+0.1
            point = [n,Lt1,Lt2,Ln1,Ln2,PCentrx,PCentry]
            Ln1 = Ln2
        
            if n not in blocks.keys():
                blocks[n] = []
                blocks[n] = point
            
            n+=1
            
    return blocks
indiana_split = create_blocks()
len(indiana_split)

In [25]:
def create_blocks1():
    MinLt = 37.55
    MaxLt = 41.95
    MinLn = -88.24
    MaxLn = -84.64
    blocks = {}
    Lt1 = MinLt
    Ln1 = MinLn
    n=1
    
    for i in range(110):
        if i == 0:
            Lt1 = Lt1
        else:
            Lt1 = Lt1+0.04
        Ln1=MinLn
        for j in range(90):
            point = []
            #block_coord = []
            Lt2 = Lt1+0.04
            Ln2 = Ln1+0.04
            PCentrx = Lt1+0.02
            PCentry = Ln1+0.02
            point = [n,Lt1,Lt2,Ln1,Ln2,PCentrx,PCentry]
            Ln1 = Ln2
        
            if n not in blocks.keys():
                blocks[n] = []
                blocks[n] = point
            
            n+=1
            
    return blocks
indiana_split1 = create_blocks1()

In [26]:
len(indiana_split1)

In [27]:
## 110 blocks
import pandas as pd
pdf = pd.DataFrame.from_dict(indiana_split1, orient = 'index')
blocks = spark.createDataFrame(pdf)

from pyspark.sql.functions import col
blocks = blocks.select(col("0").alias("Blocks"), col("1").alias("x1"), col("2").alias("x2"), col("3").alias("y1"), col("4").alias("y2"), col("5").alias("Xcentr"), col("6").alias("Ycentr"))
blocks.show()

In [28]:
# export blocks to csv file
#blocks.toPandas().to_csv('/dbfs/FileStore/blocks.csv')

In [29]:
temp_table_name_1 = "mysubsetTable"

labeledData.createOrReplaceTempView(temp_table_name_1)

temp_table_name = "blockstable"

blocks.createOrReplaceTempView(temp_table_name)

In [30]:
results = spark.sql("Select M.*,B.Blocks from mysubsetTable M, blockstable B where M.lat >= B.x1 and M.lat < B.x2 and M.long >= B.Y1 and M.long < B.Y2")

In [31]:
#results.show()

In [32]:
#results

In [33]:
df_groupby = results.groupby('Blocks','speedlim','weekday','light','timecollide','weather').agg(sf.count('Blocks').alias("frequency"))
#df_groupby.show()

In [34]:
df_groupby.sort(col('frequency').desc()).show()

In [35]:
temp_table_name = "frequency"

df_groupby.createOrReplaceTempView(temp_table_name)

In [36]:
result1 = spark.sql("Select F.*,B.x1, B.x2,B.y1,B.y2,B.Xcentr,B.Ycentr from frequency as F, blockstable B where F.Blocks = B.Blocks")

In [37]:
result1.toPandas().to_csv('/dbfs/FileStore/aries_accidents_2.csv')

In [38]:
#result1.show()
#result1.sort(col('frequency').desc()).show()

In [39]:
#result1.count()

In [40]:
## Create NO ACCIDENT DATA
import itertools

In [41]:
blk_lst = []
for i in range(1,721):
  blk_lst.append(i)

a = [blk_lst,[30,40,50,60,70],['MONDAY','TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY'],['Dark (Not Lighted)','Dark (Lighted)','Daylight','Dawn/Dusk'],
    ['12-2 AM','2-4 AM','4-6 AM','6-8 AM','8-10 AM','10 AM - 12 PM','12-2 PM','2-4 PM','4-6 PM','6-8 PM','8-10 PM','10 PM - 12 AM'],
    ['Fog/Smoke/Smog','Cloudy','Clear','Blowing Sand/Soil/Snow','Severe Cross Wind','Snow','Rain','Sleet/Hail/Freezing Rain']]
b = list(itertools.product(*a))

In [42]:
len(b)

In [43]:
from pyspark.sql import Row
rdd1 = sc.parallelize(b)
row_rdd = rdd1.map(lambda p: Row(Blocks=p[0],speedlim=p[1],weekday=p[2],light=p[3],timecollide=p[4],weather=p[5]))
allDF=sqlContext.createDataFrame(row_rdd)

In [44]:
allDF =allDF.withColumn("speedlim", allDF["speedlim"].cast(IntegerType()))

In [45]:
df_acc = result1.select(result1['Blocks'],result1['light'],result1['speedlim'],result1['timecollide'],result1['weather'],result1['weekday'])

In [46]:
df_acc.sort(col('frequency').desc()).show()

In [47]:
## Get the situations that accident did not occur

In [48]:
df_nonacc = allDF.subtract(df_acc)
#df_nonacc.count()

In [49]:
df_nonacc = df_nonacc.withColumn("frequency", lit(0))
#df_nonacc.show()

In [50]:
## Delete Files
#dbutils.fs.rm("/FileStore/aries_final.csv")

In [51]:
df_nonacc1 = df_nonacc.select("Blocks","speedlim","weekday","light","timecollide","weather","frequency")
#df_nonacc1.first()

In [52]:
df_nonacc1.printSchema()

In [53]:
## Concatenate with df_groupby to get the final dataset
df_final = df_groupby.union(df_nonacc1)
#df_final

In [54]:
temp_table_name = "final"
df_final.createOrReplaceTempView(temp_table_name)
result2 = spark.sql("Select F.*,B.x1, B.x2,B.y1,B.y2,B.Xcentr,B.Ycentr from final as F, blockstable B where F.Blocks = B.Blocks")

In [55]:
#result1.toPandas().to_csv('/dbfs/FileStore/aries_accidents.csv')

In [56]:
result2.sort(col('frequency').desc()).show()